In [42]:
import pandas as pd
import numpy as np

In [3]:
# A panadas series is a one dimensional array like object that can hold many data types such as numbers and strings
# Whereas a NumPy array can hold values of a single data type given an array
# Another big difference between NumPy array and a Pandas series is that you can assign an index label to each element in the pandas series
groceries = pd.Series(data=[30, 6, 'Yes', 'No'], index=['eggs', 'apples', 'milk', 'bread'])
print(groceries)

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [9]:
groceries.shape

(4,)

In [10]:
groceries.ndim

1

In [8]:
groceries.size

4

In [11]:
groceries.index

Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [12]:
groceries.values

array([30, 6, 'Yes', 'No'], dtype=object)

In [13]:
'banana' in groceries.index

False

In [14]:
'bread' in groceries.index

True

In [15]:
groceries['eggs']

30

In [17]:
groceries[['milk', 'bread']]

milk     Yes
bread     No
dtype: object

In [18]:
groceries[0]

30

In [19]:
groceries[-1]

'No'

groceries[[0,1]]

In [21]:
groceries.loc[['eggs','apples']]

eggs      30
apples     6
dtype: object

In [22]:
groceries.iloc[[2,3]]

milk     Yes
bread     No
dtype: object

In [23]:
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [26]:
groceries['eggs'] = 2
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [27]:
groceries.drop('apples')

eggs       2
milk     Yes
bread     No
dtype: object

In [28]:
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [32]:
groceries.drop('apples', inplace=True)

In [31]:
groceries

eggs       2
milk     Yes
bread     No
dtype: object

In [60]:
fruits = pd.Series([10, 6, 3], ['apples', 'ornges', 'bananas'])
fruits

apples     10
ornges      6
bananas     3
dtype: int64

In [38]:
fruits + 2

apples     12
ornges      8
bananas     5
dtype: int64

In [39]:
fruits - 2

apples     8
ornges     4
bananas    1
dtype: int64

In [40]:
fruits * 2

apples     20
ornges     12
bananas     6
dtype: int64

In [55]:
fruits / 2

apples     5.0
ornges     3.0
bananas    1.5
dtype: float64

In [43]:
np.sqrt(fruits)

apples     3.162278
ornges     2.449490
bananas    1.732051
dtype: float64

In [44]:
np.exp(fruits)

apples     22026.465795
ornges       403.428793
bananas       20.085537
dtype: float64

In [54]:
np.power(fruits, 2)

apples     100
ornges      36
bananas      9
dtype: int64

In [82]:
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [80]:
fruits['bananas'] + 2

5

In [81]:
fruits.iloc[0] - 2

8

In [83]:
fruits[['apples', 'oranges']] * 2

apples     20
oranges    12
dtype: int64

In [84]:
fruits.loc[['apples', 'oranges']] / 2

apples     5.0
oranges    3.0
dtype: float64

In [85]:
groceries = pd.Series(data=[30, 6, 'Yes', 'No'], index=['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [86]:
groceries * 2 # the same would error if the operation was a division

eggs          60
apples        12
milk      YesYes
bread       NoNo
dtype: object

In [87]:
dist_planets = pd.Series(data=[149.6, 1433.5, 227.9, 108.2, 778.6], index=['Earth', 'Saturn', 'Mars', 'Venus', 'Jupiter'])
dist_planets

Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64

In [88]:
dist_planets.values

array([ 149.6, 1433.5,  227.9,  108.2,  778.6])

In [98]:
time_light = dist_planets / 18
time_light

Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

In [99]:
time_light[time_light < 40]

Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64